In [1]:
print("hello")

hello

In [2]:
#ini sesi 1

# Tipe data di Python
- Integer (int)
- Floating- Point Numbers (float)
- String (str)
- Boolean (bool)

In [7]:
print(123456)
print(type(4241341))

123456
<class 'int'>

In [10]:
print(12.5)
print(type(12.5))
print(12.5e-3)

12.5
<class 'float'>
0.0125

In [12]:
print("Hacktiv8 python's first class..")
print(type("hello"))

Hacktiv8 python's first class..
<class 'str'>

In [13]:
print(True)
print(type(True))
print(type(False))

True
<class 'bool'>
<class 'bool'>

# Pembuatan Variable

In [16]:
message = "Frist class python"
sesi = 1
kelas ="pyton 061"

In [17]:
print(message)

Frist class python

In [18]:
print(sesi+1)

2

In [19]:
a = b = c = 102

In [20]:
print(message,sesi,kelas,a,b,c)

Frist class python 1 pyton 061 102 102 102

# Cara menamai variable
- snake_case untuk menamai variable
- camelCase untuk menamai function
- PascalCase

# Operation and Expressions in Python

In [21]:
a = 10
b =20
c = a +b

print(c)

30

In [22]:
print(a+b)
print(a-b)

30
-10

In [23]:
print(a*b)
print(a/b)

200
0.5

In [24]:
#modulo
print(a%b)
print(5%2)
print(20%3)

10
1
2

In [25]:
#pangkat
print(a**b)
print(5**2)

100000000000000000000
25

In [26]:
print(a==b)
print(a!=b)
print(a>=b)
print(a<=b)

False
True
False
True

## String manipulation

In [29]:
s = "hallo"
b = "bandung"

In [30]:
print(s)

hallo

In [33]:
print (s +" "+s+" "+b)

hallo hallo bandung

In [34]:
s = s + " "
print(s)

hallo

In [35]:
print (s*2)

hallo hallo

In [36]:
print(s*2+b)

hallo hallo bandung

In [38]:
num = 100
print(s * num)

hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo

In [40]:
print(s + str(num))
print("hacktiv8" +8)
#error karena str tidak bisa dicampur dengan number

hallo 100

TypeError: can only concatenate str (not "int") to str

## expression in string

In [42]:
message= s*2+b
print(message)

hallo hallo bandung

In [43]:
print("bandung" in "halo halo bandung")
print("bandung" in message)
print(b in message)

True
True
True

## built-in function milik string

In [44]:
message = "halo HALO Bandung 123"
print(message)
print(message.capitalize())
print(message.lower())
print(message.upper())
print(message.swapcase())
print(message.title())

halo HALO Bandung 123
Halo halo bandung 123
halo halo bandung 123
HALO HALO BANDUNG 123
HALO halo bANDUNG 123
Halo Halo Bandung 123

## Tipe Data List

setiap elemen dalam sebuah list punya angka
angkanya urut dan dimulai dari 0.
nama angka ini adalah INDEX
INDEX digunakan untuk mengubah element diposisi tersebut.

In [51]:
antrian_indomaret = ["budi","adi","cindy","ana"]

In [52]:
print(antrian_indomaret)

['budi', 'adi', 'cindy', 'ana']

In [49]:
list_campuran = [123, True, [], "halo",12.78]
#tidak direkomendasikan
#biasakan isi dari sebuah list tipe datanya sama semua

In [50]:
print(antrian_indomaret[1])

adi

In [53]:
antrian_indomaret2 = ["ana","adi","cindy","budi"]

In [54]:
print(antrian_indomaret == antrian_indomaret2)

False

In [55]:
print(antrian_indomaret[-1])

ana

In [56]:
print(antrian_indomaret[-2])

cindy

In [113]:
# list yang isinya list, namanya "nasted"
list_buah = [
    ["apel", "anggur"],
    ["mangga","melon"],
    ["semangka"]
]
print(list_buah[0]) #ini dapet list ["apel,"anggur]
print(list_buah[0][1]) # dapet "apel"

['apel', 'anggur']
anggur

In [58]:
#slicing
#membuat list baru dari sebagian list lama
print(antrian_indomaret)

['budi', 'adi', 'cindy', 'ana']

In [59]:
antrian_baru= antrian_indomaret[1:3]
print(antrian_baru)

['adi', 'cindy']

In [61]:
#concatenate
print(antrian_baru + ["herman"])

['adi', 'cindy', 'herman']

In [62]:
# replication
print(antrian_baru *3)

['adi', 'cindy', 'adi', 'cindy', 'adi', 'cindy']

## yukk kita cek properti list

In [63]:
# Len() ---> Length, untuk cek panjang listnya
print(len(antrian_indomaret))

4

In [64]:
# min() ---> minimum
# max() ---> maximum
list_nilai = [50,60,90,35]
print(min(list_nilai))
print(max(list_nilai))

35
90

## ubah satu elemen di list

In [65]:
print(antrian_indomaret)
antrian_indomaret[1] = "john"
print(antrian_indomaret)

['budi', 'adi', 'cindy', 'ana']
['budi', 'john', 'cindy', 'ana']

In [85]:
del antrian_indomaret[1]
print(antrian_indomaret)

['a', 'd', 'e', 'f']

In [72]:
antrian = ['a', 'b', 'c', 'd', 'e','f']

In [73]:
antrian[1:5] = ["G","H"]
print(antrian)

['a', 'G', 'H', 'f']

# Tuples

tuples mirip dengan list. ada beberapa perbedaan;
- tuples pakai ( )
- tuples itu tidak bisa diubah(immutable)

In [75]:
tuple_alfabet = ( 'a', 'b', 'c', 'd', 'e','f')
print(tuple_alfabet) #print tuple
print(tuple_alfabet[1])
print(tuple_alfabet[-1])

('a', 'b', 'c', 'd', 'e', 'f')
b
f

In [76]:
tuple_alfabet[1]= 'g'
print(tuple_alfabet)

TypeError: 'tuple' object does not support item assignment

In [77]:
tuple_nilai = (20,50,70,20)
print(len(tuple_nilai)) 
print(min(tuple_nilai))
print(max(tuple_nilai))

4
20
70

In [80]:
print(tuple_alfabet + tuple_nilai)
print(("a", "malam") * 3)

('a', 'b', 'c', 'd', 'e', 'f', 20, 50, 70, 20)
('a', 'malam', 'a', 'malam', 'a', 'malam')

In [86]:
print(tuple(antrian_indomaret)) #ubah list jadi tuple

('a', 'd', 'e', 'f')

In [84]:
print(list(tuple_alfabet)) # ubah tuple jadi list

['a', 'b', 'c', 'd', 'e', 'f']

# Dictionary

In [87]:
#bikin dictionary pakai { }
# isinya adalah key:value pair
mobil = {
    "merk": "avanza",
    "warna": "silver",
    "jumlah_ban": 4,
    "tipe": "automatic"
}
print(mobil)

{'merk': 'avanza', 'warna': 'silver', 'jumlah_ban': 4, 'tipe': 'automatic'}

In [88]:
# major League baseball
mlb_team = {
    "Colorado": 'Rockies',
    "Boston": 'Red Sox'
}

In [89]:
orang = {
    "nama": "andika",
    "umur": 15,
    "hobi": ["masak", "tidur", "main game"],
    "berkacamata": False
}

In [91]:
#akses value dari sebuah dictionary menggunakan key
print(orang["nama"])
print(orang["umur"])
print(orang["hobi"])
print(orang["berkacamata"])

andika
15
['masak', 'tidur', 'main game']
False

In [92]:
#namabhin pasangan key:value ke sebuah dictionary
orang["ijazah"] = ["sd", "smp", "sma"]
print(orang)

{'nama': 'andika', 'umur': 15, 'hobi': ['masak', 'tidur', 'main game'], 'berkacamata': False, 'ijazah': ['sd', 'smp', 'sma']}

In [106]:
print(orang["ijazah"])

['sd', 'smp', 'sma']

In [107]:
# update sebuah value di dictionary
orang["umur"] = 20
print(orang)

{'nama': 'andika', 'umur': 20, 'berkacamata': False, 'ijazah': ['sd', 'smp', 'sma']}

In [108]:
# menghapus sebuah pasangan key:value di dictionary
del orang["hobi"]
print(orang)

KeyError: 'hobi'

In [110]:
orang["nama_orangtua"] = ("Guntur","Kalisah")
print(orang)

{'nama': 'andika', 'umur': 20, 'berkacamata': False, 'ijazah': ['sd', 'smp', 'sma'], 'nama_orangtua': ('Guntur', 'Kalisah')}

## bikin dictionary pelan pelan satu pasang

In [98]:
orang2 = {}

In [99]:
print(orang2)

{}

In [100]:
orang2["nama"] = "John"
orang2["umur"] = 54
orang2["pasangan"] = "Jane"
orang2["anak"] = ["Ralph","Betty", "Joey"]

print(orang2)

{'nama': 'John', 'umur': 54, 'pasangan': 'Jane', 'anak': ['Ralph', 'Betty', 'Joey']}

In [101]:
# built-in method dictionary
# kasih lihat semua pasangan key:value dictionary ini
print(orang2.items()) #list isi tuple

dict_items([('nama', 'John'), ('umur', 54), ('pasangan', 'Jane'), ('anak', ['Ralph', 'Betty', 'Joey'])])

In [102]:
# kasih lihat semua key aja
print(orang2.keys()) #list

# kasih liat semua value saja
print(orang2.values()) #list

dict_keys(['nama', 'umur', 'pasangan', 'anak'])
dict_values(['John', 54, 'Jane', ['Ralph', 'Betty', 'Joey']])

# Line Continuation

codenya panjang ke kanan sampai keluar layar, caranya biar codenya bisa pindah ke baris baru aja, tapi gak eror adalah dengan memalai kurung ()

In [111]:
umur_andika = 20
umur_john = 64
umur_jane = 59

seseorang_lansia_diantara_mereka = ((umur_andika >= 60) or (umur_john >= 60) or (umur_jane >= 60))
print(seseorang_lansia_diantara_mereka)

True